<mat-card>
  <mat-card-header class="d-block">
    <h3>{{title}}</h3>
    <p *ngIf="!rows">Você precisa filtrar uma turma</p>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="rows" class="mat-elevation-z8">
      <ng-container matColumnDef="colName" *ngFor="let colName of properties; let i = index">
        <th mat-header-cell *matHeaderCellDef> {{ columns[i] }} </th>
        <td mat-cell *matCellDef="let element"> {{element[colName]}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="cols"></tr>
      <tr mat-row *matRowDef="let row; columns: cols;"></tr>
    </table>
  </mat-card-content>
</mat-card>
