<div class="card">
  <div class="card-header">
    <h4 class="card-title">{{title}}</h4>
  </div>
  <div class="card-body">
    <div *ngIf="data" class="table-responsive">
      <table  class="table">
        <thead class=" text-primary">
          <th *ngFor="let header of data.headers">
            {{header}}
          </th>
          <th *ngIf="hasActions">
            Ações
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let row of data.rows">
            <td *ngFor="let col of data.cols">
              {{row[col]}}
            </td>
            <td *ngIf="hasActions">
              <a href="#" *ngIf="editar" (click)="editar(row)" title="Editar"><i class="fa fa-pencil" aria-hidden="true"></i></a>&nbsp;
              <a href="#" *ngIf="excluir" (click)="excluir(row)" title="Excluir"><i class="fa fa-trash" aria-hidden="true"></i></a>&nbsp;
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <!-- <hr/>
    <div class="card-stats">
      <i class="fa fa-refresh"></i> Atualizar
    </div> -->
  </div>
</div>
