<mat-card class="my-3" class="card-stats-container">
  <mat-card-content class="card-stats-content">
    <i *ngIf="!isLoading" class="nc-icon {{icon}}"></i>
    <!-- <p *ngIf="!isLoading">{{value}}</p> -->
    <p *ngIf="!isLoading">30</p>
    <ngx-skeleton-loader *ngIf="isLoading" [theme]="{
        width: '150px',
        height: '30px',
        'border-radius': '0',
        margin: '0 0 9px 12px'
      }">
    </ngx-skeleton-loader>

  </mat-card-content>
  <mat-card-footer class="card-stats-footer">
    <p *ngIf="!isLoading" class="card-category">{{label}}</p>
    <ngx-skeleton-loader *ngIf="isLoading" [theme]="{
        width: '200px',
        height: '32px',
        'border-radius': '0',
        'margin-left': '16px'
      }"></ngx-skeleton-loader>

  </mat-card-footer>
</mat-card>


<!-- LOADING -->
<!-- <div *ngIf="value === false" class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div> -->
