<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6">
    <app-card-stats [label]="'Pendentes'" [icon]="'nc-paper text-warning'" [value]="pendentes"></app-card-stats>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <app-card-stats [label]="'Atrasadas'" [icon]="'nc-paper text-danger'" [value]="atrasadas"></app-card-stats>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <app-card-stats [label]="'Concluídas'" [icon]="'nc-paper text-success'" [value]="concluidas"></app-card-stats>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-chart-bars
      [title]="'Atividades Pendentes'"
      [subtitle]="'Atividades não entregues por data'"
      [data]="atividadesPendentes"></app-chart-bars>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-chart-bars
      [title]="'Atividades Entregues'"
      [subtitle]="'Atividades entregues por data'"
      [data]="atividadesEntregues"></app-chart-bars>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-table [title]="'Atividades Pendentes'" [data]="tableData"></app-table>
  </div>
</div>
