<div class="card card-chart">
  <div class="card-header">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-category">{{subtitle}}</p>
  </div>
  <div class="card-body">
    <div *ngIf="data === undefined" class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <span *ngIf="data && data.length === 0">{{emptyMessage}}</span>
    <canvas *ngIf="data && data.length > 0" #chart [(ngModel)]="dataq" width="400" height="100"></canvas>
  </div>
  <div class="card-footer">
    <hr/>
    <div class="card-stats">
      <i class="fa fa-refresh"></i> Atualizar
    </div>
  </div>
</div>
